{% comment %}
  @param section [Section] Shopify section for this mega menu

  @param section_type [String] Type to use for data-section-type
{% endcomment %}
<script
  type="application/json"
  data-section-type="{{ section_type }}"
  data-section-id="{{ section.id }}"
>
</script>

{% if section.blocks.size > 0 %}
  <details>
    <summary
      class="
        nav-desktop__tier-1-link
        nav-desktop__tier-1-link--parent
      "
    >
      <span>{{ section.settings.parent }}</span>
      <span class="icon-down-arrow"></span>
    </summary>
    <div
      class="
        mega-menu
        menu
        dropdown_content
      "
      data-meganav-desktop
      data-meganav-handle="{{ section.settings.parent | handleize }}"
    >
      <div class="mega-menu-panels">
        
        <div class="parent-links">
          
          {% for block in section.blocks %}
            {% if block.type == 'column' %}
              {% for i in (1..4) %}
                
                {% assign menuColumnNum = 'menu_' | append: i %}
                {% assign menuColumn = block.settings[menuColumnNum]%}
                
                {% assign menuColumnLinkNum = 'menu_' | append: i | append: '_link' %}
                {% assign menuColumnLink = block.settings[menuColumnLinkNum]%}
                
                {% if menuColumn != blank %}
                  <div class="dropdown_column__menu" data-menu="{{ linklists[menuColumn].title }}">
                    <ul class="dropdown_title">
                      <li>
                        <a {% if menuColumnLink %}href="{{ menuColumnLink }}"{% endif %}>{{ linklists[menuColumn].title }}</a>
                      </li>
                    </ul>
                  </div>
                {% endif %}
                
              {% endfor %}
            {%endif%}
          {% endfor %}
          
        </div>
        
        <div class="child-links-panel" data-menu>
          {% for block in section.blocks %}
            {% if block.type == 'column' %}
              {% for i in (1..4) %}
                
                {% assign menuColumnNum = 'menu_' | append: i %}
                {% assign menuColumn = block.settings[menuColumnNum]%}
                
                {% if menuColumn != blank %}
                  <div class="child_links_panel_links" data-menu="{{ linklists[menuColumn].title }}">
                    {% if linklists[menuColumn] != empty %}
                      <ul class="child-links">
                        {% for sublink in linklists[menuColumn].links %}
                          <li>
                            <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <div class="product-cards">
                      {% for i in (1..2) %}
                        
                        {% assign productOptionNum = 'product_' | append: i %}
                        {% assign productOption = block.settings[productOptionNum] %}
                        
                        {% if productOption != blank %}
                          <div class="product_card">
                            {{ productOption.image | image_url: 'master' }}
                            {{ productOption.title }}
                            {{ productOption.price | money_format }}
                            
                          </div>
                        {% endif %}
                        
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                
              {% endfor %}
            {%endif%}
          {% endfor %}
        </div>
      </div>
      
      {% comment %} {% for block in section.blocks %}
        {% comment %} <div class="dropdown_column" {{ block.shopify_attributes }}> {% endcomment %}
          {% if block.type == 'column' %}
            {% comment %}Richtext{% endcomment %}
            {% if block.settings.richtext_top != blank %}
              <div class="mega-menu__richtext">
                {{ block.settings.richtext_top }}
              </div>
            {% endif %}

            {% comment %}Image with caption and link{% endcomment %}
            {% if block.settings.image_top != nil or block.settings.image_caption_top != blank %}
              <div class="mega-menu__image-caption-link">
                <a {% if block.settings.image_link_top != blank %}href="{{ block.settings.image_link_top }}"{% endif %}>
                  {% if block.settings.image_top != nil %}
                    {%
                      render 'image-element',
                      image: block.settings.image_top,
                      alt: block.settings.image_top.alt,
                      focal_point: block.settings.image_top.presentation.focal_point,
                    %}
                  {% endif %}
                  {% if block.settings.image_caption_top != blank %}
                    <p class="mega-menu__image-caption">{{ block.settings.image_caption_top }}</p>
                  {% endif %}
                </a>
              </div>
            {% endif %}
            
            {% for i in (1..4) %}
              
              {% assign menuColumnNum = 'menu_' | append: i %}
              {% assign menuColumn = block.settings[menuColumnNum]%}
              
              {% assign menuColumnLinkNum = 'menu_' | append: i | append: '_link' %}
              {% assign menuColumnLink = block.settings[menuColumnLinkNum]%}
              
              {% if menuColumn != blank %}
                <div class="dropdown_column__menu">
                  <ul class="dropdown_title">
                    <li>
                      <a {% if menuColumnLink %}href="{{ menuColumnLink }}"{% endif %}>{{ linklists[menuColumn].title }}</a>
                    </li>
                  </ul>
                  <div class="dropdown_side_panel">
                    {% if linklists[menuColumn] != empty %}
                      <ul class="child-links">
                        {% for sublink in linklists[menuColumn].links %}
                          <li>
                            <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <div class="product-cards">
                      {% for i in (1..2) %}
                        
                        {% assign productOptionNum = 'product_' | append: i %}
                        {% assign productOption = block.settings[productOptionNum] %}
                        
                        {% if productOption != blank %}
                          <div class="product_card">
                            {{ productOption.image | image_url: 'master' }}
                            {{ productOption.title }}
                            {{ productOption.price | money_format }}
                            
                          </div>
                        {% endif %}
                        
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
              
            {% endfor %}

            {% comment %}Image with caption and link{% endcomment %}
            {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
              <div class="mega-menu__image-caption-link">
                <a {% if block.settings.image_link_bottom != blank %}href="{{ block.settings.image_link_bottom }}"{% endif %}>
                  {% if block.settings.image_bottom != nil %}
                    {%
                      render 'image-element',
                      image: block.settings.image_bottom,
                      alt: block.settings.image_bottom.alt,
                      focal_point: block.settings.image_bottom.presentation.focal_point,
                    %}
                  {% endif %}
                  {% if block.settings.image_caption_bottom != blank %}
                    <p class="mega-menu__image-caption">{{ block.settings.image_caption_bottom }}</p>
                  {% endif %}
                </a>
              </div>
            {% endif %}

            {% comment %}Richtext{% endcomment %}
            {% if block.settings.richtext_bottom != blank %}
              <div class="mega-menu__richtext">
                {{ block.settings.richtext_bottom }}
              </div>
            {% endif %}

          {% endif %}
        {% comment %} </div> {% endcomment %}
      {% endfor %} {% endcomment %}
    </div>
  </details>
  <div class="mobile-meganav-source">
    <div
      data-meganav-mobile
      data-meganav-handle="{{ section.settings.parent | handleize }}"
    >
      {% for block in section.blocks %}
        {% if block.type == 'column' %}
          {% if block.settings.richtext_top %}
            <li class="mobile-mega-menu_block mega-menu__richtext">
              {{ block.settings.richtext_top }}
            </li>
          {% endif %}

          {% if block.settings.image_top != nil or block.settings.image_caption_top != blank %}
            <li class="mobile-mega-menu_block">
              <a {% if block.settings.image_link_top != blank %}href="{{ block.settings.image_link_top }}"{% endif %} >
                {% if block.settings.image_top != nil %}
                  {%
                    render 'image-element',
                    image: block.settings.image_top,
                    alt: block.settings.image_top.alt,
                    focal_point: block.settings.image_top.presentation.focal_point,
                  %}
                {% endif %}
                {% if block.settings.image_caption_top != blank %}
                  <p class="mobile-mega-menu__image-caption">{{ block.settings.image_caption_top }}</p>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if block.settings.menu_1 != blank %}
            <li class="mobile-mega-menu_block sublink">
              {% if block.settings.menu_1_link == 'http://' or block.settings.menu_1_link == '' or block.settings.menu_1_link == '/' or block.settings.menu_1_link == 'https://' or block.settings.menu_1_link == '#' or block.settings.menu_1_link == blank %}
                <a data-no-instant href="{{ block.settings.menu_1_link }}" class="parent-link--false">
                  {{ linklists[block.settings.menu_1].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ block.settings.menu_1_link }}" class="parent-link--true">
                  {{ linklists[block.settings.menu_1].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for sublink in linklists[block.settings.menu_1].links %}
                  <li>
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if block.settings.menu_2 != blank %}
            <li class="mobile-mega-menu_block sublink">
              {% if block.settings.menu_2_link == 'http://' or block.settings.menu_2_link == '' or block.settings.menu_2_link == '/' or block.settings.menu_2_link == 'https://' or block.settings.menu_2_link == '#' or block.settings.menu_2_link == blank %}
                <a data-no-instant href="{{ block.settings.menu_2_link }}" class="parent-link--false">
                  {{ linklists[block.settings.menu_2].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ block.settings.menu_2_link }}" class="parent-link--true">
                  {{ linklists[block.settings.menu_2].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for sublink in linklists[block.settings.menu_2].links %}
                  <li>
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if block.settings.menu_3 != blank %}
            <li class="mobile-mega-menu_block sublink">
              {% if block.settings.menu_3_link == 'http://' or block.settings.menu_3_link == '' or block.settings.menu_3_link == '/' or block.settings.menu_3_link == 'https://' or block.settings.menu_3_link == '#' or block.settings.menu_3_link == blank %}
                <a data-no-instant href="{{ block.settings.menu_3_link }}" class="parent-link--false">
                  {{ linklists[block.settings.menu_3].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ block.settings.menu_3_link }}" class="parent-link--true">
                  {{ linklists[block.settings.menu_3].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for sublink in linklists[block.settings.menu_3].links %}
                  <li>
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if block.settings.menu_4 != blank %}
            <li class="mobile-mega-menu_block sublink">
              {% if block.settings.menu_4_link == 'http://' or block.settings.menu_4_link == '' or block.settings.menu_4_link == '/' or block.settings.menu_4_link == 'https://' or block.settings.menu_4_link == '#' or block.settings.menu_4_link == blank %}
                <a data-no-instant href="{{ block.settings.menu_4_link }}" class="parent-link--false">
                  {{ linklists[block.settings.menu_4].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ block.settings.menu_4_link }}" class="parent-link--true">
                  {{ linklists[block.settings.menu_4].title }} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for sublink in linklists[block.settings.menu_4].links %}
                  <li>
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
            <li class="mobile-mega-menu_block">
              <a {% if block.settings.image_link_bottom != blank %}href="{{ block.settings.image_link_bottom }}"{% endif %}>
                {% if block.settings.image_bottom != nil %}
                  {%
                    render 'image-element',
                    image: block.settings.image_bottom,
                    alt: block.settings.image_bottom.alt,
                    focal_point: block.settings.image_bottom.presentation.focal_point,
                  %}
                {% endif %}
                {% if block.settings.image_caption_bottom != blank %}
                  <p class="mobile-mega-menu__image-caption">{{ block.settings.image_caption_bottom }}</p>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if block.settings.richtext_bottom %}
            <li class="mobile-mega-menu_block">
              {{ block.settings.richtext_bottom }}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
